@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

.main-title {
  font-weight: bolder;
  margin-bottom: 0;
}

.article-list,
.comment-list,
.topic-list {
  list-style-type: none;
  padding: 0;
}

.topic-list {
  display: flex;
  justify-content: center;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0px 0px;
}

.article-card,
.comment-card,
.topic-card {
  text-align: left;
  border: 1px solid slategrey;
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
}

.topic-card {
  flex: 1 1 0;
}

.topic-card h3,
.article-card h3,
.centered-paragraph {
  text-align: center;
}

.article-card img {
  display: block;
  margin: auto;
}

.body-paragraph {
  text-align: justify;
  font-weight: 300;
}

.article-thumbnail {
  width: 10em;
  height: 10em;
  object-fit: cover;
}

.hidden-comments,
.hidden-button,
.hidden-paragraph {
  visibility: hidden;
}
.hidden-card {
  display: none;
}
